<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ppcrong.unity.ahrs"
          android:installLocation="preferExternal">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>
    <application
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector">

        <!-- Separate Unity from Android Process by :UnityProcess -->
        <activity
            android:name="com.ppcrong.unity.ahrs.UnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:process=":UnityProcess"
            android:screenOrientation="landscape">
            <!-- Avoid creating multiple icons on device
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            -->
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true"/>
        </activity>

        <meta-data
            android:name="unity.build-id"
            android:value="a8dd6095-1a25-44d7-b8b0-2ae307d82145"/>
        <meta-data
            android:name="unity.splash-mode"
            android:value="0"/>
        <meta-data
            android:name="unity.splash-enable"
            android:value="True"/>
    </application>
    <uses-feature android:glEsVersion="0x00020000"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false"/>
</manifest>